@media(min-width:767px){
	.navbar-inner-dyn{
		padding:0;
	}
}
.menu-btn{
	padding: 0 15px 5px;
	background: @black;
	color:@white;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	cursor: pointer;
	img{
		margin-right:5px;
	}
}
.navbar-inner-wrap{
	//#gradient .vertical(@greyDark, @black);
	&.top{
		#gradient .vertical(@greyDark, @black);
	}
	&.bottom{
		#gradient .vertical(@black, @greyDark);
		@media(min-width:768px){
			#gradient .vertical(@grey, @black);
		}
	}
	padding-left:20px;
	padding-right:20px;
}
.main-nav li {line-height:10px}
@media(min-width:768px){
	.main-nav, .main-nav li {
		border: solid 1px #000;
		border-width: 0 1px 0;
	}
}
.dropdown-toggle, .nav-text{
	color:@white;
}

.dropdown.open > .dropdown-toggle {
	color:@aqua;
	background: transparent;
}

.navbar .nav > li > .dropdown-menu:after{
	border-bottom-color: @greyDark;
}

li.dropdown li.dropdown{
	border:none;
	border-width:0;
}

.dropdown{
	a{
		display:block;
		background-color:transparent;
	}
	@media(min-width:768px){
		&:hover{
			@import "../../dynamicbase/less/bootstrap/dropdowns";
			.open();
			.dropdown-toggle{
				color:@aqua;
			}
			.dropdown-menu{
				background:@greyDark;
				top: 97%;
				li > a{
					padding:3px 20px 3px 8px;
					color:@white;
					&:hover{
						// Nuke
						text-decoration: none;
						background-color: transparent;
						background-image: none; // Remove CSS gradient
						.reset-filter();
						background-color:@aqua;
						color:@white;
					}
				}
			}
			.dropdown-menu.right{
				.dropdown-dropdown(@greyDark);
			}
		}
	}
	.open{
		background-color:darken(@aqua, 15%);
	}
	.dropdown-menu{
		background:@greyDark;
		top: 97%;
		li > a{
			color:@white;
		}
		.dropdown-toggle{
			color:@white;
		}
	}
}

.logininfo{
	padding:5px 15px;
}

.bread-crumb, .bread-crumb li {
	border: none;
}

.admin-user, .student-user{
	.navbar .nav.bread-crumb>li>a {
		background-image: none;
		padding-left: 12px;
	}
}

@media(max-width:768px){
	.navbar .nav > li > a {
	    padding-left: 35px;
	    .dropdown-arrows(15px,'[[pix:core|t/collapsed]]');
	}
	.navbar .nav > li.open > a{
	    .dropdown-arrows(15px,'[[pix:core|t/expanded]]'); 
	}
	.navbar .nav > li > .nav-text {
	    padding-left: 35px;
	    background: transparent;
	}
	.dropdown .dropdown-menu{
		left: 6px;
	    top: 69%;
		.dropdown-toggle {
	    	.dropdown-arrows(97%,'[[pix:core|t/collapsed]]');
		}
	}
}
@media(min-width:786px){
	.navbar .nav > .dropdown > a {
		padding-right:35px;
		.dropdown-arrows(97%,'[[pix:core|t/collapsed]]');
	}
	.navbar .nav > .dropdown:hover > a ,.navbar .nav > .dropdown.open > a {
		padding-right:35px;
		.dropdown-arrows(97%,'[[pix:core|t/expanded]]');
	}
	.dropdown .dropdown-menu{
		.dropdown-toggle {
	    	.dropdown-arrows(97%,'[[pix:core|t/collapsed]]');
		}
	}
}
.dropdown-menu.right{
	.dropdown-dropdown(@greyDark);
}

.admin-user{
	@media (max-width: 1063px){
		.menu-btn{
			display:block;
		}
		.nav-wrap{
			padding:0;
			height:0;
			overflow:hidden;
			&.active{
				height:auto;
				overflow: visible;
			}
		}
		.navbar .main-nav, .navbar .dynamic-reports{
			width:100%;
			margin:0;
			li{
				width:100%;
			}
		}
		//
		.main-nav, .main-nav li {
			border: solid 1px #000;
			border-width: 0 1px 0;
		}
		//
		.dropdown:hover .dropdown-menu, .dropdown .dropdown-menu {
	        top: 80%;
	        left: 6px;
	        &.right {
	        	top: -3px;
	        	left: 102%;
	        }
	    }
		//
		.navbar .nav > li > a {
		    padding-left: 35px;
		    .dropdown-arrows(15px,'[[pix:core|t/collapsed]]');
		}
		.navbar .nav > li.open > a{
		    .dropdown-arrows(15px,'[[pix:core|t/expanded]]'); 
		}
		.navbar .nav > li > .nav-text {
		    padding-left: 35px;
		    background: transparent;
		}
		.navbar .nav > .dropdown:hover > a{
			.dropdown-arrows(15px,'[[pix:core|t/expanded]]'); 
		}
	}
}

.closebtn A {
  background: url([[pix:theme|closeImage]]);
  height: 35px;
  width: 55px;
  float: right;
  margin: 5px 0 0 ;
  text-indent:-99999px
}

/*fixes rollver bug on menu */
.main-nav li {line-height: 16px;}
.ie8,.ie11 {
	.dropdown-menu {margin:0px}
	.closebtn {}
	@media (min-width: 768px) {
		.dropdown:hover .dropdown-menu {margin:0px}
	}
}

.block {.clearfix();}