.extra-info-box,.final-info-box{
	margin-top:15px;
}
.ie8 .extra-info-box, .ie8 .final-info-box{
	.pull-left();
}
.loginpanel{
	border: solid 2px @black;
	background: @greyDark;
	color: @white;
	input[type="submit"] {
		padding: 7px 25px;
	}
}

.login-info-wrap{
	background: @black;
	padding:35px;
	h1{
		color: @white;
		img{
			margin:10px 0;
		}
		span{
			color:darken(@white, 20%);
		}
		margin: 1em 0;
		font-size: 50px;
		font-family: 'akzidenz-grotesk';
		font-weight: normal;
		line-height: normal;
	}
}
.final-info-box{
	h2{
		margin-bottom:0;
	}
}

.loginpanel .desc, .rememberpass{
	display: none;
}

.loginbox h2, .loginbox .forgetpass{
	text-align: left;
}

.loginbox h2{
	padding: 10px 30px;
}

.loginbox .loginform{
	margin: 1em 45px 0;
	.form-input {
	    float: none;
	    width: auto;
	    input{
	    	width:93%;
	    }
	}
	.form-label {
	    float: none;
	    text-align: left;
	}
}