.block{
	margin-top:5px;
	margin-bottom:5px;
	&:first-child{
		margin-top:0;
	}
	&:last-child{
		margin-bottom:0;
	}
	input[type="text"] + input[type="submit"]{
		margin:0 auto 10px;
		display:block;
	}
}

.block_settings #adminsearchquery{
	margin:0 auto 10px;
	display:block;
}