/**
 * This is the file that pulls everything together! :)
 * Build your less stylesheets on this file otherwise they wont be included.
 * the first section is bootstrap variables. These are imported from
 * dynamicbase and allow us to use bottstrap .span()'s and pull so helper
 * mixins e.g. .rounded();
 *
 * Second section is pulling in our global variables mixins and typography.
 *
 * Third is scaffolding if you have any layout changes.
 *
 * Fourth is the rest of it.
 *
 */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.affix {
  position: fixed;
}

/**
 * Use this file to store any colours. Allows consistent colours.
 */

/**
 * Use this file for any re-usable snippits
 * Mixins are functions that look like CSS classes.
 * e.g. a mixin is defined like:
 *
 * 		.im-a-mixin{...}
 *
 * they can have parameters passed to them like this:
 *
 * 		.im-a-mixin(@im-a-parameter:im-the-default-value){...}
 *
 * You don't have to use this file but it can be useful for repeatable
 * styles on buttons etc.
 */
/**
 * Use this file for any font's and specific font styles
 * 
 * You can use webfonts like so, all this requires is a fonts folder in
 * your theme dir (theme/blank_responsive/fonts):
 *
 *      @font-face {
 *          font-family: 'font-name';
 *          src: url('[[font:theme|fontname.eot]]');
 *          ...
 *      }
 *
 * or just use a google webfonts import.
 */

@font-face {
  font-family: Montserrat-Regular;
  src: url('[[font:theme|Montserrat-Regular.ttf]]');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('[[font:theme|Montserrat-Bold.ttf]]');
}

body {
  font-family: Montserrat-Regular;
}

.navbar-inner-dyn {
  padding: 0;
  background-color: #1696ce;
}

.navbar-inner-dyn a {
  min-width: 100px;
  margin-left: 1px;
  font-family: Montserrat-Bold;
  color: white;
  text-align: center;
  background-color: #1186b9;
}

.footerNav {
  display: block;
  float: right;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
}

.footerNav li > a {
  display: block;
  float: none;
  padding: 10px 15px 10px;
  text-decoration: none;
}

.footerNav li {
  float: left;
  background-color: #b2b1b1;
}

.footerNav .nav {
  margin-top: 0;
}

#page-navbar {
  background-color: #1696ce;
}

#page-navbar .breadcrumb-nav a,
#page-navbar .breadcrumb-nav span {
  color: white;
}

/**
 * This is probably the most used less sheet
 * Use this for any changes to the header. if you have a complex
 * navigation you might want to split that off into its own less file
 * so its easy to find.
 *
 * Some example classes are provided below.
 */

.halfBlock {
  position: relative;
  height: 400px;
  background: #1696ce;
}

body {
  background: #e7e7e7;
  /* Old browsers */

  background: -moz-linear-gradient(top, #1696ce 40%, #e7e7e7 40%, #e7e7e7 40%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #1696ce), color-stop(40%, #e7e7e7), color-stop(40%, #e7e7e7));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #1696ce 40%, #e7e7e7 40%, #e7e7e7 40%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #1696ce 40%, #e7e7e7 40%, #e7e7e7 40%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #1696ce 40%, #e7e7e7 40%, #e7e7e7 40%);
  /* IE10+ */

  background: linear-gradient(to bottom, #1696ce 40%, #e7e7e7 40%, #e7e7e7 40%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1696ce', endColorstr='#e7e7e7', GradientType=0);
  /* IE6-9 */

}

header {
  background-color: white;
}

.navbar .container-fluid {
  background-color: white;
}

.navbar .header {
  height: 100px;
}

.navbar .logininfo {
  color: #056995;
  text-transform: uppercase;
}

.navbar .logininfo a {
  font-family: Montserrat-Bold;
}

.navbar .brand {
  margin-top: 10px;
  color: #1186b9;
  vertical-align: middle;
}

.navbar .brand h1 {
  font-size: 30px;
  vertical-align: middle;
}

.navbar .socialMedia {
  float: right;
  margin-top: 10px;
}

.navbar .socialMedia img {
  padding-left: 0;
}

/**
 *
 * Use this file for any alterations to the footer
 *
 */

footer {
  max-height: 500px;
  min-height: 50px;
  padding-top: 0;
  margin-bottom: 0;
  background-color: #b2b1b1;
}

footer a {
  min-width: 150px;
  margin-left: 1px;
  font-family: Montserrat-Bold;
  color: white;
  text-align: center;
  background-color: #c7c7c7;
}

footer .logininfo {
  display: none;
}

#page-footer {
  padding-top: 0;
}

/**
 *
 * This is probably heavily altered, use this for any login styles.
 *
 */
/**
 * Use this file for any alterations to course like CSS
 * E.g the all courses page would fall under this, any styling you want
 * to do like colour changes would probably go in here.
 *
 * Some example classes are provided below.
 */

#page .header {
  min-height: 50px;
  background-color: #91be39;
}

#page .header h2 {
  font-family: Montserrat-Regular;
  font-weight: normal;
  color: white;
}

#page .block .content {
  background-color: white;
}

.block_calendar_month .content {
  padding: 0;
}

.block_calendar_month .header {
  display: none;
}

.block_calendar_month .calendar-controls {
  padding-top: 15px;
}

.block_calendar_month caption {
  width: 100%;
  height: 50px;
  padding-top: 0;
  vertical-align: middle;
  background-color: #91be39;
}

.block_calendar_month caption a {
  font-size: 1.4em;
  color: white;
  text-transform: uppercase;
}

.block_calendar_month tr,
.block_calendar_month td {
  width: 37px;
  height: 37px;
  padding: 0;
  font-size: 1em;
  color: #b2b1b1;
}

.block_calendar_month tr .today,
.block_calendar_month td .today {
  background-color: #1696ce;
}

.block_calendar_month tr .today a,
.block_calendar_month td .today a {
  color: white;
}

.block_calendar_month .weekdays {
  color: white;
  background-color: #b2b1b1;
}

.block_calendar_month .weekdays abbr {
  border-bottom: none;
}

.boxs {
  position: relative;
  height: 315px;
  overflow: hidden;
}

.boxs .box1,
.boxs .box2,
.boxs .box3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box1 {
  background-image: url('[[pix:theme|managmentcourses]]');
}

.box1 .bottomBox {
  background-color: #1696ce;
}

.box1 .bottomBox h4 {
  color: #056995;
}

.box1 .bottomBox img {
  position: absolute;
  top: 30px;
  right: 10px;
  display: inline-block;
  float: right;
  clear: none;
}

.box2 {
  background-image: url('[[pix:theme|compliance]]');
}

.box2 .bottomBox {
  background-color: #f38312;
}

.box2 .bottomBox h4 {
  color: #ae5801;
}

.box2 .bottomBox img {
  position: absolute;
  top: 30px;
  right: 10px;
  display: inline-block;
  float: right;
  clear: none;
}

.box3 {
  background-image: url('[[pix:theme|firstLine]]');
}

.box3 .bottomBox {
  background-color: #91be39;
}

.box3 .bottomBox h4 {
  color: #557413;
}

.box3 .bottomBox img {
  position: absolute;
  top: 30px;
  right: 10px;
  display: inline-block;
  float: right;
  clear: none;
}

.main-page .bottomBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.main-page .bottomBox h2,
.main-page .bottomBox h4 {
  margin-left: 10px;
  line-height: 15px;
}

.main-page .bottomBox h4 {
  margin-top: 30px;
  font-size: 1em;
}

.main-page .bottomBox h2 {
  font-size: 1.3em;
  font-weight: normal;
  color: white;
}

.course_category_tree .category > .info {
  position: relative;
  height: 50px;
  margin: 0;
  background-color: #91be39;
  border: none;
  border-radius: 0;
}

.course_category_tree .category > .info h3 {
  position: absolute;
  top: 10%;
}

.course_category_tree .category > .info a {
  color: white;
}

.course_category_tree .category > .content {
  padding: 0;
  background-color: white;
}

.coursebox {
  height: 50px;
  margin: 0;
  border: none;
  border-radius: 0;
}

.coursebox .info .coursename {
  display: inline-block;
  vertical-align: middle;
}

.coursebox .info .coursename a {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.5em;
}
