/**
 * This is the file that pulls everything together! :)
 * Build your less stylesheets on this file otherwise they wont be included.
 * the first section is bootstrap variables. These are imported from
 * dynamicbase and allow us to use bottstrap .span()'s and pull so helper
 * mixins e.g. .rounded();
 *
 * Second section is pulling in our global variables mixins and typography.
 *
 * Third is scaffolding if you have any layout changes.
 *
 * Fourth is the rest of it.
 *
 */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.affix {
  position: fixed;
}

/**
 * Use this file to store any colours. Allows consistent colours.
 */

/**
 * Use this file for any re-usable snippits
 * Mixins are functions that look like CSS classes.
 * e.g. a mixin is defined like:
 *
 * 		.im-a-mixin{...}
 *
 * they can have parameters passed to them like this:
 *
 * 		.im-a-mixin(@im-a-parameter:im-the-default-value){...}
 *
 * You don't have to use this file but it can be useful for repeatable
 * styles on buttons etc.
 */
/**
 * Use this file for any font's and specific font styles
 * 
 * You can use webfonts like so, all this requires is a fonts folder in
 * your theme dir (theme/blank_responsive/fonts):
 *
 *      @font-face {
 *          font-family: 'font-name';
 *          src: url('[[font:theme|fontname.eot]]');
 *          ...
 *      }
 *
 * or just use a google webfonts import.
 */

.navbar-inner-dyn a {
  min-width: 100px;
  margin-left: 1px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: #1186b9;
}

/**
 * This is probably the most used less sheet
 * Use this for any changes to the header. if you have a complex
 * navigation you might want to split that off into its own less file
 * so its easy to find.
 *
 * Some example classes are provided below.
 */

header .header {
  height: 100px;
}

.navbar .brand {
  margin-top: 10px;
  color: #1186b9;
  vertical-align: middle;
}

.navbar .brand h1 {
  font-size: 30px;
  vertical-align: middle;
}

/**
 *
 * Use this file for any alterations to the footer
 *
 */

/**
 *
 * This is probably heavily altered, use this for any login styles.
 *
 */
/**
 * Use this file for any alterations to course like CSS
 * E.g the all courses page would fall under this, any styling you want
 * to do like colour changes would probably go in here.
 *
 * Some example classes are provided below.
 */

#page .header {
  background-color: #91be39;
}
