#styled-form SELECT {margin-right:15px;}
#styled-form input[type="submit"]{margin-right:20px;float:right}
#styled-form LABEL {width:130px;display:block !important}
#styled-form TEXTAREA{/*width: 100px;*/}
/*DIV.checkbox-group-outer {float:left;display:block;}*/
/*DIV.checkbox-group{}*/
/*DIV.form-area {width: 690px !important}*/
#styled-form{width:580px}
/*.form-area{width:100%}*/
.form-section{width:100%}



#styled-form input[type="checkbox"]{margin:0px}
DIV.checkbox-group P {width:340px;margin: 3px 5px 1px 2px;}