#fitem_id_maildisplay,
#fitem_id_maildigest,
#fitem_id_mailformat,
#fitem_id_autosubscribe,
#fitem_id_trackforums,
#fitem_id_preference_htmleditor,
#fitem_id_city,
#fitem_id_country,
#fitem_id_timezone,
#fitem_id_lang,
#fitem_id_description_editor,
#id_moodle_picture,
#id_moodle_additional_names,
#id_moodle_interests,
#id_moodle_optional,
#id_category_1
{display:none}

.navbar .nav.bread-crumb>li>a {background-image:none}
.block {width:100%;border:1px solid #c9c9c9}

/* Theme amends after meeting */
#page-login-index .loginbox {margin: 5px 15px 0;}
#page-login-index .loginpanel H2{padding:10px 30px 0}
#page-login-index .loginbox .loginform {margin: 0 40px 0;}
#page-login-index .forgetpass A {color:#ccc}
.page-title-header H1{font-size:24px;line-height:30px}
.menu-btn {padding: 0 15px 5px;}
.main-nav li {line-height:10px}
.menu-btn {text-transform: uppercase;text-align: right;cursor: pointer;}