.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
a {
  color: #010101;
}
a:hover,
a:focus {
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  color: #269e94;
}
@font-face {
  font-family: 'akzidenz-grotesk';
  src: url('[[font:theme|akzidenzgrotesk-light-webfont.eot]]');
  src: url('[[font:theme|akzidenzgrotesk-light-webfont.eot?#iefix]]') format('embedded-opentype'), url('[[font:theme|akzidenzgrotesk-light-webfont.woff]]') format('woff'), url('[[font:theme|akzidenzgrotesk-light-webfont.ttf]]') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 767px) {
  .navbar-inner-dyn {
    padding: 0;
  }
}
.menu-btn {
  padding: 0 15px 5px;
  background: #010101;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
}
.menu-btn img {
  margin-right: 5px;
}
.navbar-inner-wrap {
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-inner-wrap.top {
  background-color: #1f1f1f;
  background-image: -moz-linear-gradient(top, #333333, #010101);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#010101));
  background-image: -webkit-linear-gradient(top, #333333, #010101);
  background-image: -o-linear-gradient(top, #333333, #010101);
  background-image: linear-gradient(to bottom, #333333, #010101);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff010101', GradientType=0);
}
.navbar-inner-wrap.bottom {
  background-color: #151515;
  background-image: -moz-linear-gradient(top, #010101, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#010101), to(#333333));
  background-image: -webkit-linear-gradient(top, #010101, #333333);
  background-image: -o-linear-gradient(top, #010101, #333333);
  background-image: linear-gradient(to bottom, #010101, #333333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff010101', endColorstr='#ff333333', GradientType=0);
}
@media (min-width: 768px) {
  .navbar-inner-wrap.bottom {
    background-color: #333333;
    background-image: -moz-linear-gradient(top, #555555, #010101);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#010101));
    background-image: -webkit-linear-gradient(top, #555555, #010101);
    background-image: -o-linear-gradient(top, #555555, #010101);
    background-image: linear-gradient(to bottom, #555555, #010101);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff010101', GradientType=0);
  }
}
.main-nav li {
  line-height: 10px;
}
@media (min-width: 768px) {
  .main-nav,
  .main-nav li {
    border: solid 1px #000;
    border-width: 0 1px 0;
  }
}
.dropdown-toggle,
.nav-text {
  color: #ffffff;
}
.dropdown.open > .dropdown-toggle {
  color: #269e94;
  background: transparent;
}
.navbar .nav > li > .dropdown-menu:after {
  border-bottom-color: #333333;
}
li.dropdown li.dropdown {
  border: none;
  border-width: 0;
}
.dropdown a {
  display: block;
  background-color: transparent;
}
@media (min-width: 768px) {
  .dropdown:hover {
    *z-index: 1000;
  }
  .dropdown:hover .dropup,
  .dropdown:hover .dropdown {
    position: relative;
  }
  .dropdown:hover .dropdown-toggle {
    *margin-bottom: -3px;
  }
  .dropdown:hover .dropdown-toggle:active,
  .dropdown:hover .open .dropdown-toggle {
    outline: 0;
  }
  .dropdown:hover .caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #010101;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
  }
  .dropdown:hover .dropdown .caret {
    margin-top: 8px;
    margin-left: 2px;
  }
  .dropdown:hover .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  .dropdown:hover .dropdown-menu.pull-right {
    right: 0;
    left: auto;
  }
  .dropdown:hover .dropdown-menu .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
  }
  .dropdown:hover .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
  }
  .dropdown:hover .dropdown-menu > li > a:hover,
  .dropdown:hover .dropdown-menu > li > a:focus,
  .dropdown:hover .dropdown-submenu:hover > a,
  .dropdown:hover .dropdown-submenu:focus > a {
    text-decoration: none;
  }
  .dropdown:hover .dropdown-menu > .active > a,
  .dropdown:hover .dropdown-menu > .active > a:hover,
  .dropdown:hover .dropdown-menu > .active > a:focus {
    text-decoration: none;
    outline: 0;
  }
  .dropdown:hover .dropdown-menu > .disabled > a,
  .dropdown:hover .dropdown-menu > .disabled > a:hover,
  .dropdown:hover .dropdown-menu > .disabled > a:focus {
    color: #999999;
  }
  .dropdown:hover .dropdown-menu > .disabled > a:hover,
  .dropdown:hover .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: default;
  }
  .dropdown:hover .open {
    *z-index: 1000;
  }
  .dropdown:hover .open > .dropdown-menu {
    display: block;
  }
  .dropdown:hover .pull-right > .dropdown-menu {
    right: 0;
    left: auto;
  }
  .dropdown:hover .dropup .caret,
  .dropdown:hover .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid #010101;
    content: "";
  }
  .dropdown:hover .dropup .dropdown-menu,
  .dropdown:hover .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
  }
  .dropdown:hover .dropdown-submenu {
    position: relative;
  }
  .dropdown:hover .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
  }
  .dropdown:hover .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
  .dropdown:hover .dropup .dropdown-submenu > .dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -2px;
    -webkit-border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    border-radius: 5px 5px 5px 0;
  }
  .dropdown:hover .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
  }
  .dropdown:hover .dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
  }
  .dropdown:hover .dropdown-submenu.pull-left {
    float: none;
  }
  .dropdown:hover .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }
  .dropdown:hover .dropdown .dropdown-menu .nav-header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .dropdown:hover .typeahead {
    z-index: 1051;
    margin-top: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .dropdown:hover .dropdown-toggle {
    color: #269e94;
  }
  .dropdown:hover .dropdown-menu {
    background: #333333;
    top: 97%;
  }
  .dropdown:hover .dropdown-menu li > a {
    padding: 3px 20px 3px 8px;
    color: #ffffff;
  }
  .dropdown:hover .dropdown-menu li > a:hover {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-color: #269e94;
    color: #ffffff;
  }
  .dropdown:hover .dropdown-menu.right {
    top: -3px;
    left: 102%;
  }
  .dropdown:hover .dropdown-menu.right:before {
    position: absolute;
    top: 5px;
    left: -6px;
    display: inline-block;
    border-top: 7px solid transparent;
    border-right: 7px solid #ccc;
    border-bottom: 7px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.2);
    content: '';
  }
  .dropdown:hover .dropdown-menu.right:after {
    position: absolute;
    top: 6px;
    left: -5px;
    display: inline-block;
    border-top: 6px solid transparent;
    border-right: 6px solid #333333;
    border-bottom: 6px solid transparent;
    content: '';
  }
}
.dropdown .open {
  background-color: #17605a;
}
.dropdown .dropdown-menu {
  background: #333333;
  top: 97%;
}
.dropdown .dropdown-menu li > a {
  color: #ffffff;
}
.dropdown .dropdown-menu .dropdown-toggle {
  color: #ffffff;
}
.logininfo {
  padding: 5px 15px;
}
.bread-crumb,
.bread-crumb li {
  border: none;
}
.admin-user .navbar .nav.bread-crumb > li > a,
.student-user .navbar .nav.bread-crumb > li > a {
  background-image: none;
  padding-left: 12px;
}
@media (max-width: 768px) {
  .navbar .nav > li > a {
    padding-left: 35px;
    background-image: url('[[pix:core|t/collapsed]]');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 15px center;
  }
  .navbar .nav > li.open > a {
    background-image: url('[[pix:core|t/expanded]]');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 15px center;
  }
  .navbar .nav > li > .nav-text {
    padding-left: 35px;
    background: transparent;
  }
  .dropdown .dropdown-menu {
    left: 6px;
    top: 69%;
  }
  .dropdown .dropdown-menu .dropdown-toggle {
    background-image: url('[[pix:core|t/collapsed]]');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 97% center;
  }
}
@media (min-width: 786px) {
  .navbar .nav > .dropdown > a {
    padding-right: 35px;
    background-image: url('[[pix:core|t/collapsed]]');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 97% center;
  }
  .navbar .nav > .dropdown:hover > a,
  .navbar .nav > .dropdown.open > a {
    padding-right: 35px;
    background-image: url('[[pix:core|t/expanded]]');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 97% center;
  }
  .dropdown .dropdown-menu .dropdown-toggle {
    background-image: url('[[pix:core|t/collapsed]]');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 97% center;
  }
}
.dropdown-menu.right {
  top: -3px;
  left: 102%;
}
.dropdown-menu.right:before {
  position: absolute;
  top: 5px;
  left: -6px;
  display: inline-block;
  border-top: 7px solid transparent;
  border-right: 7px solid #ccc;
  border-bottom: 7px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.dropdown-menu.right:after {
  position: absolute;
  top: 6px;
  left: -5px;
  display: inline-block;
  border-top: 6px solid transparent;
  border-right: 6px solid #333333;
  border-bottom: 6px solid transparent;
  content: '';
}
@media (max-width: 1063px) {
  .admin-user .menu-btn {
    display: block;
  }
  .admin-user .nav-wrap {
    padding: 0;
    height: 0;
    overflow: hidden;
  }
  .admin-user .nav-wrap.active {
    height: auto;
    overflow: visible;
  }
  .admin-user .navbar .main-nav,
  .admin-user .navbar .dynamic-reports {
    width: 100%;
    margin: 0;
  }
  .admin-user .navbar .main-nav li,
  .admin-user .navbar .dynamic-reports li {
    width: 100%;
  }
  .admin-user .main-nav,
  .admin-user .main-nav li {
    border: solid 1px #000;
    border-width: 0 1px 0;
  }
  .admin-user .dropdown:hover .dropdown-menu,
  .admin-user .dropdown .dropdown-menu {
    top: 80%;
    left: 6px;
  }
  .admin-user .dropdown:hover .dropdown-menu.right,
  .admin-user .dropdown .dropdown-menu.right {
    top: -3px;
    left: 102%;
  }
  .admin-user .navbar .nav > li > a {
    padding-left: 35px;
    background-image: url('[[pix:core|t/collapsed]]');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 15px center;
  }
  .admin-user .navbar .nav > li.open > a {
    background-image: url('[[pix:core|t/expanded]]');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 15px center;
  }
  .admin-user .navbar .nav > li > .nav-text {
    padding-left: 35px;
    background: transparent;
  }
  .admin-user .navbar .nav > .dropdown:hover > a {
    background-image: url('[[pix:core|t/expanded]]');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 15px center;
  }
}
.closebtn A {
  background: url([[pix:theme|closeImage]]);
  height: 35px;
  width: 55px;
  float: right;
  margin: 5px 0 0 ;
  text-indent: -99999px;
}
/*fixes rollver bug on menu */
.main-nav li {
  line-height: 16px;
}
.ie8 .dropdown-menu {
  margin: 0px;
}
@media (min-width: 768px) {
  .ie8 .dropdown:hover .dropdown-menu {
    margin: 0px;
  }
}
.block {
  *zoom: 1;
}
.block:before,
.block:after {
  display: table;
  content: "";
  line-height: 0;
}
.block:after {
  clear: both;
}
.block {
  width: 100%;
  border: 1px solid #c9c9c9;
}
#login-main {
  max-width: 1024px;
  *width: 980px;
  margin: 0 auto;
}
.login-form-box,
.extra-info-box,
.final-info-box {
  *zoom: 1;
}
.login-form-box:before,
.extra-info-box:before,
.final-info-box:before,
.login-form-box:after,
.extra-info-box:after,
.final-info-box:after {
  display: table;
  content: "";
  line-height: 0;
}
.login-form-box:after,
.extra-info-box:after,
.final-info-box:after {
  clear: both;
}
.login-form-box {
  width: 48.93617021%;
  *width: 48.88297872%;
  float: right;
}
.extra-info-box {
  width: 48.93617021%;
  *width: 48.88297872%;
}
@media (min-width: 768px) {
  .final-info-box,
  .loginpanel {
    width: 100%;
    *width: 99.94680851%;
  }
}
.final-info-box,
.loginpanel {
  *width: 100%;
}
@media (max-width: 768px) {
  .login-form-box,
  .extra-info-box,
  .final-info-box {
    width: 100%;
    *width: 99.94680851%;
  }
}
.student-user #region-main {
  width: 100%;
  *width: 99.94680851%;
}
.student-user #block-region-side-pre {
  display: none;
}
.extra-info-box,
.final-info-box {
  margin-top: 15px;
}
.ie8 .extra-info-box,
.ie8 .final-info-box {
  float: left;
}
.loginpanel {
  border: solid 2px #010101;
  background: #333333;
  color: #ffffff;
}
.loginpanel input[type="submit"] {
  padding: 7px 25px;
}
.login-info-wrap {
  background: #010101;
  padding: 35px;
}
.login-info-wrap h1 {
  color: #ffffff;
  margin: 1em 0;
  font-size: 50px;
  font-family: 'akzidenz-grotesk';
  font-weight: normal;
  line-height: normal;
}
.login-info-wrap h1 img {
  margin: 10px 0;
}
.login-info-wrap h1 span {
  color: #cccccc;
}
.final-info-box h2 {
  margin-bottom: 0;
}
.loginpanel .desc,
.rememberpass {
  display: none;
}
.loginbox h2,
.loginbox .forgetpass {
  text-align: left;
}
.loginbox h2 {
  padding: 10px 30px 0;
}
.loginbox {
  margin: 15px 15px 0;
}
.loginbox .loginform {
  margin: 0 40px 0;
}
.loginbox .loginform .form-input {
  float: none;
  width: auto;
}
.loginbox .loginform .form-input input {
  width: 93%;
}
.loginbox .loginform .form-label {
  float: none;
  text-align: left;
}
.forgetpass a {
  color: #eeeeee;
}
.loginpanel {
  height: 341px;
}
/* make black boxes same height */
.course-content ul .section {
  margin: .5em 1em 0;
}
.course-content ul li.section.main {
  border-bottom: none;
}
.course-content ul.topics li.section {
  padding-bottom: 5px;
}
.topics {
  border: solid 2px #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.completionprogress {
  margin: 10px 15px 15px 25px;
}
.page-title-header h1 {
  font-size: 24px;
  line-height: 30px;
}
#fitem_id_maildisplay,
#fitem_id_maildigest,
#fitem_id_mailformat,
#fitem_id_autosubscribe,
#fitem_id_trackforums,
#fitem_id_preference_htmleditor,
#fitem_id_city,
#fitem_id_country,
#fitem_id_timezone,
#fitem_id_lang,
#fitem_id_description_editor,
#id_moodle_picture,
#id_moodle_additional_names,
#id_moodle_interests,
#id_moodle_optional,
#id_category_1 {
  display: none;
}
/*fix for when badges - criteria - course selection isn't big enough */
#id_courses {
  width: 100% !important;
}
