/**
 *
 * Use this file for any alterations to the footer
 *
 */

// footer{

//}

footer{
	min-height: 50px;
	max-height: 500px;
	background-color: @darkGrey;
	padding-top:0;
	margin-bottom: 0;

	a{
		color: white;
		background-color: @lightGrey;
		margin-left: 1px;
		min-width: 150px;
		text-align: center;
		font-family: Montserrat-Bold;
		
	}

	.logininfo{
		display: none;
	}
}

#page-footer{
	padding-top: 0;
}