/**
 * This is probably the most used less sheet
 * Use this for any changes to the header. if you have a complex
 * navigation you might want to split that off into its own less file
 * so its easy to find.
 *
 * Some example classes are provided below.
 */

// .navbar-inner-dyn{

// }

// .menu-btn{

// }

// .navbar-inner-wrap{
	
// }

// .logininfo{

// }

// .bread-crumb, .bread-crumb li {

// }

header{
	.header{
		min-height:100px;
		position:relative;
			}
}

.navbar{
	.brand{
		color: @darkBlue;
		position:absolute;
		

		h1{
			font-size: 20px;
			
		}
	}
}